@import "../../resources/stylesheets/basic.scss";

/* ---------------------------*/
/* ------- MAIN CONTENT-------*/
/* ----------------------------*/

// Filters
.top-title {
  margin-top: 73px;
  display: flex;
  flex-direction: column;
  background-color: #FBFDFF;
  height: calc(100vh - 73px);
  padding: 0;
}

.title-and-back {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 56px 30px;

  .title {
    font-size: 32px;
    line-height: 38px;
    font-weight: 600; 
  }
  .back {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $secondary400;
    display: flex;
    gap: 8px;
    align-items: center;
    transition: color 300ms ease-out;
    &:hover {
      color: $secondary800;
    }
  }
}
.pending-title {
    margin-left: 30px;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;

}


.results {
  display: flex;
  margin: 40px 30px;
  // height: calc(100vh - 150px - 158px - 73px);
  border-radius: 10px;
}

/* Results Styling*/

.display-results {
    width: 100%;
    padding: 0;
}

.column-titles {
  width: 100%;
  display: flex;
  padding: 8px 10px;
  background-color: #FBFDFF;

  .form-check p{
    margin-left: 16px;
    & i {
        margin-left: 8px;
        cursor: pointer;
    }
  }
}

/* Radio buttions  */

.check-all-label {
  margin-left: 50px;

  i {
    margin-left: 12px;
  }
}

/* Card  */

.requests {
    // overflow-y: scroll;
    max-height: 90%;
    min-height: 250px;
// CUSTOM SCROLL BAR
&::-webkit-scrollbar {
    width: 20px;
}


&::-webkit-scrollbar-track {
    background-color: transparent;
}


&::-webkit-scrollbar-thumb {
    background-color:  rgba(73, 167, 181, 0.405);;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    
}


&::-webkit-scrollbar-thumb:hover {
    background-color: #17A0B4;
}


}

.request-info {
  display: flex;
  padding: 16px 10px;
  align-items: center;
  &:nth-child(odd) {
    background: $backgroundColor;
  }
  p {
    margin: 0;
  }
  .request-number {
    margin-left: 16px;
  }
  .accept-reject-buttons {
    margin-left: auto;
    margin-right: 24px;
    display: flex;
    gap: 24px;
    button {
        border: none;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        background: transparent;
        transition: color 300ms ease-out;
    }
    .accept {
       color: $primary600;
       &:hover {
           color: $primary500;
       }
    }
    .reject {
        color: $primaryRed;

        &:hover {
          color: $primaryRedHover;
        }
    }
  }
}

.no-reuqests {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F9FA;
    margin: 40px 30px;
    .icon-and-text {
        display: flex;
        gap: 24px;
        align-items: center;
        
        font-weight: 400;
        font-style: italic;
        p {
            font-size: 16px;
            margin: 0;
        }
        i {
            font-size: 24px;
            color: $primary;
            border: 10px solid white;
            border-radius: 100%;
            padding: 5px;
        }
    }
}

//--------------------------------
// MODAL STYLES
//--------------------------------
 .accept-modal,
 .reject-modal {
    .modal-dialog {
        max-width: 700px;
    }
    .modal-header {
        border-bottom: none;
    }
    .modal-content {
        background: $backgroundColor;
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding-bottom: 96px;
        .modal-title {
            font-size: 28px;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
        }
        .modal-body {
            padding: 0;
        }
    }
    
    .modal-footer {
        justify-content: center;
        border: none;
        display: flex;
        gap: 24px;
        font-size: 14px;

        .reject-button {
            background: $primaryRed;
            transition: background 300ms ease-out;
            &:hover {
                background: $primaryRedHover;
            }
        }
    }
}


