@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* -------------------------*/
/* ------ Variables -------*/
/* ------------------------*/
/* ----------------------*/
/* ------ GENERAL -------*/
/* ---------------------*/
* {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #0B424A;
}
a:hover {
  color: #0B424A;
}

.btn:focus {
  box-shadow: none;
}

.default-button {
  background: #17A0B4;
  padding: 10px 24px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 44px;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  transition: background ease-out 300ms;
}
.default-button:hover {
  background: #68C1CE;
}
.default-button:active {
  background: #128090;
}
.default-button.disabled {
  background: #D2E0E2;
  cursor: default;
  pointer-events: none;
}

.default-outline-button {
  background: none;
  border: 2px solid #17A0B4;
  color: #17A0B4;
  border-radius: 3px;
  padding: 10px 24px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1px;
  transition: all ease-out 300ms;
}
.default-outline-button:hover {
  border-color: #33cee5;
  color: #33cee5;
}

.clear-button {
  background: none;
  display: flex;
  gap: 10px;
  border: none;
  align-items: center;
  padding: 10px 24px;
  transition: all ease-out 300ms;
}
.clear-button:hover {
  color: #4d4d4d;
}

/* -------------------*/
/* ----- HEADER ------*/
/* -------------------*/
header {
  height: 73px;
  width: 100%;
  padding-bottom: 0;
}

.header-container {
  flex-direction: row;
}

/* ----- Left-side Header ------*/
.left-side-header {
  padding-left: 19px;
  display: flex;
  gap: 16px;
  align-items: center;
  color: black;
  background-color: #17A0B4;
  background-color: rgba(23, 160, 180, 0.2);
  height: 100%;
}
.left-side-header p {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.left-side-header .fa-chart-line {
  color: #17A0B4;
  font-size: 24px;
}

/* ----- Right-side header ------*/
.user {
  padding: 0px;
  background-color: rgba(23, 160, 180, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}
.user a {
  display: flex;
  align-items: center;
  gap: 16px;
}

.username {
  color: #17A0B4;
  font-weight: 500;
  line-height: 19.49px;
  letter-spacing: 0.1px;
  margin: 0;
}

.user-profile-pic {
  border-radius: 100%;
  width: 48px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ------- Left-side navigation -------*/
.selections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #EFF3F4;
  height: calc(100vh - 73px);
  padding: 0;
  padding-bottom: 48px;
}
.selections .links {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 56px;
}
.selections .page-link-item {
  width: 100%;
  padding: 10px 30px;
  transition: background ease-out 300ms;
  color: #354A4B;
}
.selections .page-link-item:hover {
  background: #E8F1F2;
}
.selections .page-link-item.active {
  background: #BAE9F0;
  font-weight: 600;
}
.selections .page-link-item i {
  font-size: 21px;
  margin-right: 13px;
}
.selections .bottom-links button {
  color: #303133;
}
.selections .bottom-links button i {
  font-size: 21px;
  margin-right: 13px;
}

/* ---------------------------*/
/* ------- MAIN CONTENT-------*/
/* ----------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  padding: 56px 30px;
  background-color: #fafdfe;
}
.main-content .title {
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
  margin-bottom: 16px;
}
.main-content .sub-title {
  line-height: 22.5px;
  font-weight: 400;
  color: #526667;
}
.main-content .create-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}
.main-content .create-buttons p {
  margin: 0;
  margin-right: 8px;
  color: #354A4B;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
}
.main-content .create-buttons button i {
  margin-right: 9px;
}
.main-content .cards {
  margin-top: 48px;
  display: flex;
  justify-content: space-evenly;
}
.main-content .cards .card {
  padding: 32px;
  box-shadow: 0px 2px 4px rgba(16, 24, 40, 0.08);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all ease-out 300ms;
}
.main-content .cards .card:hover {
  background-color: #17A0B4;
  color: white;
}
.main-content .cards .card:hover .card-title {
  color: white;
}
.main-content .cards .card:hover .card-subtitle {
  color: white;
}
.main-content .cards .card:hover .fa-regular {
  color: white;
}
.main-content .cards .card .fa-regular {
  font-size: 32px;
  color: #17A0B4;
  margin-bottom: 16px;
  transition: all ease-out 300ms;
}
.main-content .cards .card .card-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #0B424A;
  transition: all ease-out 300ms;
}
.main-content .requests {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
  background: #E8F1F2;
  padding: 16px 24px;
  border-radius: 5px;
  cursor: pointer;
}
.main-content .requests p {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 0px;
}/*# sourceMappingURL=style.css.map */