@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://use.typekit.net/sxz2efx.css");
/* -------------------------*/
/* ------ Variables -------*/
/* ------------------------*/
/* ----------------------*/
/* ------ GENERAL -------*/
/* ---------------------*/
* {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #0B424A;
}
a:hover {
  color: #0B424A;
}

input {
  width: 100%;
  position: relative;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #E8F1F2;
}
input::-moz-placeholder {
  color: #C8D4D6;
}
input:-ms-input-placeholder {
  color: #C8D4D6;
}
input::placeholder {
  color: #C8D4D6;
}
input:focus-visible {
  outline-color: #178596;
}

.form-check-input {
  padding: 8px;
}
.form-check-input:checked {
  background-color: #17A0B4;
  border-color: #17A0B4;
}

.btn:focus {
  box-shadow: none;
}

.default-button {
  background: #17A0B4;
  padding: 10px 24px;
  border: none;
  display: flex;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  transition: background ease-out 300ms;
}
.default-button:hover {
  background: #1A6F84;
}
.default-button.disabled {
  background: #C8D4D6;
  cursor: default;
  pointer-events: none;
}

.default-outline-button {
  background: none;
  border: 2px solid #17A0B4;
  color: #17A0B4;
  border-radius: 3px;
  padding: 10px 24px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1px;
  transition: all ease-out 300ms;
}
.default-outline-button:hover {
  border-color: #1A6F84;
  color: #1A6F84;
}
.default-outline-button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.3;
}

.clear-button {
  background: none;
  display: flex;
  gap: 10px;
  border: none;
  align-items: center;
  padding: 10px 24px;
  transition: all ease-out 300ms;
}
.clear-button:hover {
  color: #4d4d4d;
}

.back {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #829B9C;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: color 300ms ease-out;
}
.back:hover {
  color: #354A4B;
}

.delete-button-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  align-items: center;
  color: #9D302B;
  cursor: pointer;
  transition: all 300ms ease-out;
}
.delete-button-text:hover {
  color: #5B0303;
}
.delete-button-text p {
  margin: 0;
}

/* -------------------*/
/* ----- HEADER ------*/
/* -------------------*/
header {
  position: fixed;
  z-index: 1000;
  height: 73px;
  width: 100%;
  padding-bottom: 0;
}

.header-container {
  flex-direction: row;
}

/* ----- Left-side Header ------*/
.left-side-header {
  padding-left: 19px;
  display: flex;
  gap: 16px;
  align-items: center;
  color: black;
  background-color: #E2F3F6;
  height: 100%;
}
.left-side-header p {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.left-side-header .fa-chart-line {
  color: #17A0B4;
  font-size: 24px;
}

/* ----- Right-side header ------*/
.user {
  padding: 0px;
  background-color: #E2F3F6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}
.user a {
  display: flex;
  align-items: center;
  gap: 16px;
}

.username {
  color: #17A0B4;
  font-weight: 500;
  line-height: 19.49px;
  letter-spacing: 0.1px;
  margin: 0;
}

.user-profile-pic {
  border-radius: 100%;
  width: 48px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ------- Left-side navigation -------*/
.selections {
  display: flex;
  position: fixed;
  margin-top: 73px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F1F9FA;
  height: calc(100vh - 73px);
  padding: 0;
  padding-bottom: 48px;
}
.selections .links {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 56px;
}
.selections .page-link-item {
  width: 100%;
  padding: 16px 0 16px 48px;
  transition: background ease-out 300ms;
  color: #354A4B;
}
.selections .page-link-item:hover {
  background: #E8F1F2;
}
.selections .page-link-item.active {
  background: #9D302B;
  font-weight: 600;
}
.selections .page-link-item i {
  font-size: 21px;
  margin-right: 13px;
}
.selections .bottom-links button {
  color: #303133;
}
.selections .bottom-links button i {
  font-size: 21px;
  margin-right: 13px;
}

.profile-wrapper {
  background: #F6FBFC;
  padding: 0;
  margin-top: 73px;
}
.profile-wrapper .top-title {
  padding: 64px 0 48px 30px;
  background-color: white;
}
.profile-wrapper .top-title .title {
  color: #0B424A;
  font-size: 36px;
  line-height: 43.2px;
  margin-bottom: 16px;
}
.profile-wrapper .top-title .sub-title {
  color: #526667;
  font-family: "Proxima Nova", sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  margin-bottom: 0;
}
.profile-wrapper .user-information-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
  padding-bottom: 96px;
  padding-top: 32px;
}
.profile-wrapper .user-information-wrapper .info-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(16, 24, 40, 0.08);
  border-radius: 8px;
  padding: 48px;
}
.profile-wrapper .user-information-wrapper .section-header .title {
  color: #1B1C1F;
  font-weight: 500;
  margin-bottom: 8px;
}
.profile-wrapper .user-information-wrapper .section-header .sub-title {
  color: #526667;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
.profile-wrapper .user-information-wrapper .personal .input-group {
  gap: 24px 16px;
}
.profile-wrapper .user-information-wrapper .personal .input-group .group {
  width: calc(50% - 16px);
}
.profile-wrapper .user-information-wrapper .personal .profile-wrapper {
  background: white;
}
.profile-wrapper .user-information-wrapper .personal .profile-wrapper .title {
  color: #303133;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
}
.profile-wrapper .user-information-wrapper .personal .profile-wrapper .action-wrapper {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
.profile-wrapper .user-information-wrapper .personal .profile-wrapper .delete-profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 31px 55px;
  border: 1px solid #E8F1F2;
  border-radius: 3px;
}
.profile-wrapper .user-information-wrapper .personal .profile-wrapper .delete-profile-pic .profile-picture {
  width: 64px;
  border-radius: 100%;
}
.profile-wrapper .user-information-wrapper .personal .profile-wrapper .delete-profile-pic .delete-button {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #9D302B;
  cursor: pointer;
  transition: all 300ms ease-out;
}
.profile-wrapper .user-information-wrapper .personal .profile-wrapper .delete-profile-pic .delete-button:hover {
  color: #5B0303;
}
.profile-wrapper .user-information-wrapper .personal .profile-wrapper .delete-profile-pic .delete-button p {
  margin: 0;
}
.profile-wrapper .user-information-wrapper .personal .profile-wrapper .upload-profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px 42px;
  border: 1px solid #E8F1F2;
  border-radius: 3px;
  text-align: center;
}
.profile-wrapper .user-information-wrapper .personal .profile-wrapper .upload-profile-pic i {
  font-size: 24px;
  color: #17A0B4;
  background: #F1F9FA;
  padding: 10px;
  border-radius: 100%;
  border: 8px solid #F8FCFD;
  margin-bottom: 16px;
}
.profile-wrapper .user-information-wrapper .personal .profile-wrapper .upload-profile-pic span {
  color: #17A0B4;
}
.profile-wrapper .user-information-wrapper .personal .profile-wrapper .upload-profile-pic label {
  cursor: pointer;
}
.profile-wrapper .user-information-wrapper .personal .profile-wrapper .upload-profile-pic input[type=file] {
  display: none;
}
.profile-wrapper .company .input-group {
  gap: 24px;
}
.profile-wrapper .company .input-group .group {
  width: 100%;
}
.profile-wrapper .company .input-group label {
  margin-bottom: 4px;
}
.profile-wrapper .company .input-group .company-zipcode-city {
  display: flex;
  gap: 16px;
}
.profile-wrapper .company .input-group .company-zipcode-city .zip {
  flex: 1;
}
.profile-wrapper .company .input-group .company-zipcode-city .city {
  flex: 2;
}
.profile-wrapper .admin-tasks .input-group {
  gap: 24px;
}
.profile-wrapper .admin-tasks .input-group .group {
  width: 100%;
}
.profile-wrapper .admin-tasks .input-group label {
  margin-bottom: 4px;
}
.profile-wrapper .notifications .departments-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.profile-wrapper .notifications .departments-wrapper .column-email {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -19px;
  padding-right: 72px;
}
.profile-wrapper .notifications .departments-wrapper .column-email p {
  color: #829B9C;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}
.profile-wrapper .notifications .departments-wrapper .department {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  background: #F8FCFD;
  padding: 16px;
}
.profile-wrapper .notifications .departments-wrapper .department .name {
  margin: 0;
}
.profile-wrapper .notifications .departments-wrapper .department .buttons {
  display: flex;
  gap: 24px;
}
.profile-wrapper .tickets .input input {
  width: 100%;
}
.profile-wrapper .tickets .input label {
  margin-bottom: 4px;
}
.profile-wrapper .buttons {
  flex-direction: row !important;
  justify-content: space-between;
  gap: 16px;
}
.profile-wrapper .buttons .delete-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  align-items: center;
  color: #9D302B;
  background: transparent;
  border: none;
  transition: all 300ms ease-out;
}
.profile-wrapper .buttons .delete-button:hover {
  color: #5B0303;
}
.profile-wrapper .buttons .delete-button p {
  margin: 0;
}
.profile-wrapper .buttons .undo-and-save {
  display: flex;
  align-items: center;
  gap: 24px;
}
.profile-wrapper .buttons .default-outline-button, .profile-wrapper .buttons .default-button {
  text-transform: none !important;
}

.delete-admin-modal .modal-dialog {
  max-width: 700px;
}
.delete-admin-modal .modal-content .modal-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 96px;
}
.delete-admin-modal .modal-content .modal-body .info-icon {
  font-size: 20px;
  padding: 10px;
  background: #F9C1BF;
  border: 8px solid #F9DAD7;
  border-radius: 100%;
}
.delete-admin-modal .modal-content .modal-body .modal-title {
  color: #0B424A;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}
.delete-admin-modal .modal-content .modal-body .sub-title {
  text-align: center;
  color: #526667;
  font-weight: 400;
  line-height: 24px;
}
.delete-admin-modal .modal-content .modal-body .search-for-admin {
  width: 100%;
}
.delete-admin-modal .modal-content .modal-body .search-for-admin .choose-admin-title {
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: #303133;
}
.delete-admin-modal .modal-content .modal-body .search-for-admin .input-group {
  position: relative;
}
.delete-admin-modal .modal-content .modal-body .search-for-admin .input-group input {
  padding: 7px 0 7px 40px;
  position: relative;
}
.delete-admin-modal .modal-content .modal-body .search-for-admin .input-group .fa-magnifying-glass {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 17px;
}
.delete-admin-modal .modal-content .modal-body .search-for-admin .input-group .fa-chevron-down {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 17px;
  transition: transform 300ms ease-out;
}
.delete-admin-modal .modal-content .modal-body .search-for-admin .input-group .fa-chevron-down[open] {
  transform: rotate(180deg);
}
.delete-admin-modal .modal-content .modal-body .search-for-admin .input-group .dropdown-results {
  display: none;
  position: absolute;
  top: 30px;
  padding: 17px;
  width: 100%;
}
.delete-admin-modal .modal-footer {
  border: none;
}/*# sourceMappingURL=style.css.map */