@import "../../resources/stylesheets/basic.scss";


.profile-wrapper {

  // Styles affecting all sections
  margin-top: 73px;
  .top-title {
    padding: 64px 0 48px 30px;
    .title {
      color: $primary900;
      font-size: 36px;
      line-height: 43.2px;
      margin-bottom: 16px;
    }
    .sub-title {
      color: $secondary600;
      font-family: "Proxima Nova", sans-serif;
      font-size: 18px;
      line-height: 21.6px;
      margin-bottom: 0;
    }
  }

  // PERSONAL INFO SECTION 

  .user-information-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: auto;
    padding-bottom: 96px;

    .info-section {
      display: flex;
      flex-direction: column;
      gap: 24px;
      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(16, 24, 40, 0.08);
      border-radius: 8px;
      padding: 48px;
    }

    .section-header {
      .title {
        color: $neutral800;
        font-weight: 500;
        margin-bottom: 8px;
      }
      .sub-title {
        color: $secondary600;
        font-weight: 400;
        font-size: 14px;
        margin: 0;
      }
    }

    .personal {
      .input-group {
        gap: 24px 16px;
        .group{
          width: calc(50% - 16px);
        }
      }
      .profile-wrapper {
        .title {
          color: $neutral600;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 4px;
        }
        .action-wrapper {
          display: flex;
          gap: 16px;
          justify-content: space-between;
        }
        .delete-profile-pic {
          display: flex;
          flex-direction: column;
          gap: 24px;
          padding: 31px 55px;
          border: 1px solid $secondary100;
          border-radius: 3px;
          .profile-picture {
            width: 64px;
            border-radius: 100%
          }
          .delete-button {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 8px;
            align-items: center;
            color: $alerts600;
            cursor: pointer;
            transition: all 300ms ease-out;
            &:hover {
              color: $primaryRedHover;
            }
            p {
              margin: 0;
            }
          }
        }
        .upload-profile-pic {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 24px;
          padding: 32px 42px;
          border: 1px solid $secondary100;
          border-radius: 3px;
          text-align: center;
          i {
            font-size: 24px;
            color: $primary600;
            background: $primary100;
            padding: 10px;
            border-radius: 100%;
            border: 8px solid $primary50;
            margin-bottom: 16px;
          }
          span {
            color: $primary600;
          }
          label {
            cursor: pointer;
          }
          input[type=file] {
            display: none;
          }
        }
      }
    }
  }

  // COMPANY INFO SECTION 
  .company {
    .input-group {
      gap: 24px;
      .group {
        width: 100%;
      }
      label {
        margin-bottom: 4px;
      }
      .company-zipcode-city {
        display: flex;
        gap: 16px;
        .zip{
          flex: 1;
        }
        .city {
          flex: 2;
        }
      }
    }
  }

  // ADMIN INFO SECTION 
  .admin-tasks {
    .input-group {
      gap: 24px;
      .group {
        width: 100%;
      }
      label {
        margin-bottom: 4px;
      }
    }
  }

  // NOTIFCATIONS INFO SECTION
  .notifications {
    .departments-wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .column-email {
        display: flex;
        justify-content: flex-end;
        margin-bottom: -19px;
        padding-right: 72px;
        p {
          color: $secondary400;
          font-size: 12px;
          font-weight: 400;
          margin: 0;
        }
      }
      .department {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: space-between;
        background: $primary50;
        padding: 16px;  
        .name {
          margin: 0;
        }
        .buttons {
          display: flex; 
          gap: 24px;
        }
      }
    }
  }

  // BILJETTER SECTION
  .tickets {
    .input {
      input {
        width: 100%;
      }
      label {
        margin-bottom: 4px;
      }
    }
  }

  // BUTTONS SECTION
  .buttons {
    flex-direction: row !important;
    justify-content: space-between;
    gap: 16px;
    .delete-button {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 8px;
      align-items: center;
      color: $alerts600;
      cursor: pointer;
      transition: all 300ms ease-out;
      &:hover {
        color: $primaryRedHover;
      }
      p {
        margin: 0;
      }
    }
    .undo-and-save {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    .default-outline-button, .default-button {
      text-transform:none !important;
    }
  }
}