@import "../../resources/stylesheets/basic.scss";

// Filters
.filters {
  margin-top: 73px;
  display: flex;
  flex-direction: column;
  background-color: #FBFDFF;
  height: calc(100vh - 73px);
  padding: 0;
}

.title-and-export {
  display: flex;
  justify-content: space-between;
  padding: 56px 30px;
  background-color: #FAFAFA;

  .title {
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .buttons {
    display: flex;
    gap: 24px;
  }
}

.results {
  display: flex;
  margin: 40px 30px;
  border-radius: 10px;
}


.instructions {
  .heading {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
  .sub-heading {
    color: #526667;
  }
}


.form-new {
  margin-left: auto;
  margin-right: auto;
  padding: 48px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(16, 24, 40, 0.08);
  border-radius: 8px;
  .input-fields {
    display: flex; 
    flex-direction: column;
    gap: 24px;
    p {
      margin-bottom: 4px;
    }
    .input-field {
      .text {
        display: flex; 
        gap: 4px;
        align-items: center;
        .sub {
          font-size: 12px;
          line-height: 12.5px;
          color: #909194;
        }
      }
    }
    .department {
      position: relative;
      input{
        padding-left: 40px;
        width: 100%;
      }
      i {
        position: absolute;
        top: 43px;
        left: 16px;
        z-index: 100;
      }
    }
    .radio-buttons {
      display: flex; 
      gap: 16px;
      .yes-button, .no-button {
        display: flex;
        gap: 8px;
      }
    }

    .create-button {
      display: flex;
      justify-content: flex-end;
    }
  }
}


//--------------------------------
// MODAL STYLES
//--------------------------------

// Export Modal 
.export-modal {
    .modal-dialog {
        max-width: 600px;
    }
    .choose-export-title-and-rows {
        display: flex;
        gap: 30px;
        padding: 38px 10px 10px;
        .rows-to-export {
            color: #607B7C;
        }
    }
    .modal-body {
        .export-check-all {
            padding-left: 54px;
        }
        .export-card-number, .export-last-used, .export-rest-value {
            padding-left: 78px;
        }
    }
    .modal-footer {
        padding-top: 52px;
        padding-left: 38px;
        justify-content: flex-start;
        border-top: none;
    }
}


// Spärra kort Modal
.lock-card-modal, .discount-modal, .display-discount-modal {
    .modal-dialog {
        max-width: 700px;
    }
    .modal-header {
        border-bottom: none;
    }
    .modal-content {
        .modal-title {
            font-size: 28px;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            margin-bottom: 24px;
        }
        .modal-info{
            text-align: center;
            margin-bottom: 48px;
            color: #49454F;
            font-weight: 300;
        }
        background: $backgroundColor;
        #lock-card-comment {
            width: 100%;
            resize: none;
            background-color: #D9E6E8;
            border: none;
            border-radius: 20px;
            padding: 15px;
        }
    }
    .modal-body {
        padding: 38px 42.5px 32px;
    }
    .modal-footer {
        justify-content: center;
        border: none;
    }
    .disable-card-btn {
        background-color: $primaryRed;
    }
}

// Discount modal
.display-discount-modal {
    .discount-code-field {
        background-color: $light;
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;
        border-radius: 3px;

        .copy-code-icon {
            cursor: pointer;
        }
    }

}

// Card log Modal
.card-log {
    .modal-dialog {
        max-width: 900px;
    }
    .modal-content {
        background: $backgroundColor;
    }
    .modal-body {
        padding: 0 24px 50px;
    }
    .modal-header, .modal-footer {
        border: none;
    }
    .modal-title {
        font-size: 24px;
        font-weight: 600;
    }
    .card-number {
        font-size: 22px;
        font-weight: 400;
    }

    // Card log column titles
    .column-titles-log {
        display: flex;
        
    }
    //Card Logs
    .card-log {
        display: flex;
        padding: 16px 8px;
        border-radius: 3px;
        p {
            margin: 0;
        }
        &:nth-of-type(odd) {
            background-color: $light;
        }
    }
}

//--------------------------------
// MODAL STYLES
//--------------------------------
.created-modal {
   .modal-dialog {
       max-width: 700px;
   }
   .modal-header {
       border-bottom: none;
   }
   .modal-content {
       background: $backgroundColor;
       display: flex;
       flex-direction: column;
       gap: 48px;
       padding: 96px;
      justify-content: center;
       .modal-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0;
          i {
            font-size: 20px;
            color: $primary600;
            background: #F1F9FA;
            border: 8px solid #F8FCFD;
            padding: 10px;
            border-radius: 28px;
            margin-bottom: 32px;
          }
          .modal-title {
            font-size: 28px;
            font-weight: 600;
            text-align: center;
            color: $primary900;
            margin-bottom: 24px;
          }
          p {
            color: $secondary600;
            text-align: center;
            margin: 0;
          }
       }
   }
   
   .modal-footer {
       justify-content: center;
       border: none;
       display: flex;
       padding: 0;
       gap: 24px;
       font-size: 14px;

       .reject-button {
           background: $primaryRed;
           transition: background 300ms ease-out;
           &:hover {
               background: $primaryRedHover;
           }
       }
   }
}
